<div class="panel panel-default">
        <div class="panel-body">
            
            <div class="col-md-8">
            	<p>
       				<span class="text-muted"><strong><%=team_owner_name(message.user_id)%></strong>:</span>
                	<%= message.body %>
                </p>
            </div>
        </div>
   
</div>
 

