<div class="footer" style="background-color: #343a40">
    <div class="col-sm-4">
              <a href="<%= root_path%>"><strong> MPM </strong></a>
            </div>
  <p>Contact us</p>
</div>
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

  
}
</style>