<!-- <div class="footer-bottom" style=" background-color: #343a40 !important">

	<div class="container">

		<div class="row">

			<div class="col-md-8 ">

				<div class="copyright" style="color: white">

					<h5>© 2017, MPM, All rights reserved</h5>

				</div>

			</div>

			<div class="col-md-8">

				<div class="design">
					<a target="_blank" href="<%=root_path%>" style="color: white">MPM</a>
				</div>

			</div>
			<div class="col-md-8">

				<div class="design">

				<a target="_blank" href="#" style="color: white">Contact Us</a>

				</div>

			</div>

		</div>

	</div>

</div> -->