<div class="footer">
    <div class="col-sm-4">
                <h2 class="logo"><a href="<%= root_path%>"><strong> E-Store </strong></a></h2>
            </div>
  <p>Footer</p>
</div>
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: white;
   text-align: center;
}
</style>